@model AtlasAir.Models.FlightSegment

@{
    ViewData["Title"] = "Detalhes da Conexão";
}

<h1>Detalhes da Conexão</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Ordem
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SegmentOrder)
        </dd>
        <dt class="col-sm-2">
            Hora da Partida
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class="col-sm-2">
            Hora da Chegada
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class="col-sm-2">
            Voo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.Id)
        </dd>
        <dt class="col-sm-2">
            Aeronave
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aircraft.Model)
        </dd>
        <dt class="col-sm-2">
            Aeroporto de Origem
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OriginAirport.Name)
        </dd>
        <dt class="col-sm-2">
            Aeroporto de Destino
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DestinationAirport.Name)
        </dd>
    </dl>
</div>
<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">Editar</a>
    <a asp-action="Index" class="btn btn-outline-secondary ms-2">Voltar para a Lista</a>
</div>