@model IEnumerable<AtlasAir.Models.FlightSegment>

@{
    ViewData["Title"] = "Conexões";
}

@if (TempData["ErrorMessage"] != null)
{
    <div id="autoCloseAlert" class="alert alert-danger alert-dismissible fade show position-relative overflow-hidden" role="alert">
        <strong>Erro!</strong> @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        <div class="alert-timer-bar"></div>
    </div>
}

<h1>Lista de Conexões</h1>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-primary">Adicionar Conexão</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Ordem
            </th>
            <th>
                Hora da Partida
            </th>
            <th>
                Hora da Chegada
            </th>
            <th>
                Aeronave
            </th>
            <th>
                Origem
            </th>
            <th>
                Destino
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SegmentOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aircraft.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginAirport.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationAirport.Name)
                </td>
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Excluir</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>